* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fec45b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 80px;
}
.container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
