* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fec45b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 80px;
}

.container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
                                                                        /* sidebar1 */
.sidebar1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 60px;
}

.sidebar1 img {
  width: 15px;
  height: 15px;
}

ul li {
  list-style: none;
  padding-top: 15px;
}

.s1_top,
.s1_mid,
.s1_bot {
  background-color: white;
  width: 100%;
  text-align: center;
}

.s1_top img {
  margin-top: 20px;
  transform: rotate(45deg);
}
.s1_mid {
  transform: translateY(20px);
}

.s1_bot ul {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  margin-bottom: 20px;

}
                                                                             /* main1 */
.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cd0c1d;
  width: calc(50% - 60px);
}

.main1 img {
  width: 100%;
}
                                                                         /* main2 */
.main2 {
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  width: calc(50% - 60px);
}

.m2_top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}

.m2_top div {
  width: 50%;
  height: 50%;
}

.m2_top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.m2_bot {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 100%;
  height: 20%;
}

.m2_bot div {
  width: 50%;
  height: 50%;
}

.m2_top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.m2_bot div {
  border: 2px solid black;
  width: 50%;
  height: 100%;
}
                                                                           /* sidebar2 */
.sidebar2 {
  background-color: white;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.s2_top,
.s2_mid,
.s2_bot {
  background-color: white;
  width: 100%;
  text-align: center;
}
.s2_top {
margin-top: 20px;
}
.s2_mid {
transform: translateY(-50px);
}

.s2_bot {
  width: 100px;
  text-align: center;
  transform: rotate(90deg) translateX(-60px);
  font-size: small;
}